#app {
  
}
.close {
  border-radius: 50%;
  font-size: 1rem;
  border: 2px solid #fff;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close-icon {
  height: 20px;
  width: 20px;
}
.space-line {
  white-space: pre-wrap;
}
.widget-width {
  max-width: 1200px;
}